.monthly-report-wrapper {
  padding: 32px;
  .monthly-report-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: black;
    span {
      color: #ED1B2F;
    }
  }
  .monthly-report-content {
    .date-picker-wrapper {
      display: flex;
      justify-content: end;
      margin-bottom: 16px;
      .date-picker {
        width: 250px;
        margin-bottom: 2rem;
        display: flex;
        justify-content: end;
      }
    }
    .css-1gqmilo-MuiDataGrid-columnHeaderTitle{
      font-weight: bold;
      font-size: 16px;
    }
    .total-price {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: bold;
      text-align: right;
    }
  }
}